:root {
    --White: hsl(0, 0%, 100%);
    --Light-gray: hsl(212, 45%, 89%);
    --Grayish-blue: hsl(220, 15%, 55%);
    --Dark-blue: hsl(218, 44%, 22%);
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--Light-gray);
    font-size: 15px;
    font-family: 'Outfit', sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.component-container {
    aspect-ratio: calc(329 / 515);
    max-width: 300px;
    background-color: var(--White);
    box-shadow: 0 6px 25px 1px rgba(0, 0, 0, 0.082);
    padding: 1em;
    border-radius: 20px;
    text-align: center;
}

.component-container img {
    width: 100%;
    border-radius: 10px;
}

.component-container h2 {
    color: var(--Dark-blue);
    font-size: 1.5em;
    font-weight: 700;
    margin: 0.5em 0 0;
}

.component-container p {
    color: var(--Grayish-blue);
    font-weight: 400;
    margin: 0;
    padding: 1em;
}

.qr-text-container {
    padding: 0.5em;
}



.attribution {
    margin-top: .75em;
}